<div class="panel panel-default">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th ng-click="ctrl.sortBy('name'); ctrl.sortReverse()">
                Name
                <span ng-show="ctrl.sortColumn == 'name' && !ctrl.sortGrowing"
                      class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="ctrl.sortColumn == 'name' && ctrl.sortGrowing"
                      class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
                Enabled
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="candidate in ctrl.candidates | orderBy:ctrl.sortColumn:ctrl.sortGrowing" candidate-row
            candidate="candidate"
            candidate-id-list="ctrl.candidateIdList">
        </tr>
        <tr>
            <td>
                <candidate-delete-form candidates="ctrl.candidates"></candidate-delete-form>
            </td>
            <td colspan="2">
                <candidate-add-form candidates="ctrl.candidates"></candidate-add-form>
            </td>
        </tr>
        </tbody>
    </table>
</div>