<tr>
    <td>
        <input type="checkbox"
               ng-model="ctrl.deleteCheckbox"
               ng-change="ctrl.selectForDelete()">
    </td>
    <td>{{ctrl.candidate.name}}</td>
    <td>
        <div class="btn-group">
            <label class="btn btn-success" ng-model="ctrl.enabledCheckbox" btn-radio="true" ng-change="ctrl.toggle()">
                Enabled
            </label>
            <label class="btn btn-success" ng-model="ctrl.enabledCheckbox" btn-radio="false" ng-change="ctrl.toggle()">
                Disabled
            </label>
        </div>
    </td>
</tr>